<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/muban.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- InstanceBeginEditable name="doctitle" -->
	<title>广东中科立信科技有限公司</title>
	<!-- InstanceEndEditable --> 
  <!-- InstanceBeginEditable name="head" -->
	<!-- InstanceEndEditable --> 
  <link href="CSS/css.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>    
</head> 
<body  onload="ImageMove()" >
  <div id="header"> 
    <div id="logo"><a href="index.html"><img src="images/index/logo3.png" title="广东中科立信科技有限公司"/></a></div> 
    
    <div class="juz">

        <!-- InstanceBeginEditable name="nanv" -->
				<div  id="nanv">
          <ul>
            <li><a href="index.html" class="on" title="">首页</a></li>
            <li><a href="culture.html">企业简介</a></li>
            <li><a href="news.html">公司新闻</a></li>
            <li><a href="productq.html">产品介绍</a></li>
            <li><a href="case.html">项目案例</a></li>
            <li><a href="contact.html">联系我们</a></li>
          </ul> 
        </div>
				<!-- InstanceEndEditable -->
      </div>
    </div>
    
    <div id="fhtop" onclick="pageScroll()" style="display:none"><img src="images/float_4.png" width="55" height="55" /></div>
    <div id="main">
     <!-- InstanceBeginEditable name="main" -->
			
<div id="qsq" class="qsq">
			
			<div class="bd">
				<ul>
					<li><a href=""><img src="images/index/1.jpg" /></a></li>
					<li><a href="productq.html" ><img src="images/index/4.jpg" /></a></li>
					<li><a href="product8200a.html"><img src="images/index/5.jpg" /></a></li>
				</ul>
			</div>

			<!-- 下面是前/后按钮代码，如果不需要删除即可 -->
			<a class="prev" href="javascript:void(0)"></a>
			<a class="next" href="javascript:void(0)"></a>

		</div>

		<script type="text/javascript">
		jQuery(".qsq").slide({mainCell:".bd ul",effect:"left",autoPlay:true,delayTime:1000});
		</script>
			
		
		<div class="cgal">
			<div class="cgcase">
				<div class="mousenanv"><div class="sss"><img src="images/index/dengpao.jpg"/></div>
                <div class="www">
					<ul>
					</ul>
                    </div>
				</div>
				<div class="mouseimg">
					<ul>
						<li>
							<a href="javascript:void(0);"><img src="images/index/al1.jpg" /></a>
						</li>
						<li>
							<a href="javascript:void(0);"><img src="images/index/al2.jpg" /></a>
						</li>
						<li>
							<a href="javascript:void(0);"><img src="images/index/al3.jpg" /></a>
						</li>
						<li>
							<a href="javascript:void(0);"><img src="images/index/al4.jpg" /></a>
						</li>
					</ul>
				</div>
			</div>
          </div>
			<div class="ywmain"><div class="ywjias">COST SAVING, RIGHT NOW!</div></div>
			<script type="text/javascript">
				jQuery(".cgcase").slide({
					mainCell:".mouseimg ul",
					titCell:".mousenanv ul",
					effect:"leftLoop",
					easing:"easeInOutCirc",
					delayTime:500,
					autoPlay:true,
					autoPage:true});
				</script>
				<div class="xushu"></div>
			<div class="big">节省<span class="hong">50%</span>IT成本，就在现在</div>
			<div class="zh"><img src="images/index/zh.jpg"/></div>
			<div class="qswy"><img src="images/index/gongneng.jpg"/></div>
            <div class="abc">
			<ul class="jycb_ul">
				<li>
					
					<span>
						A
					</span>
					<strong>
						<h2>云方案</h2>提供商
					</strong>
					<p>
						成本最优部署最简单的桌面云方案提供商
					</p>
                    <div class="ywcome">
					<img src="images/index/jycb_img1.png" alt="云终端">
					</div>
				</li>
				<li>
					
					<span>
						B
					</span>
					<strong>
						<h2>云终端</h2>厂商
					</strong>
					<p>
						国内唯一专注ARM架构硬解码技术的云终端厂商
					</p>
                    <div class="ywcome">
					<img src="images/index/jycb_img2.png" alt="云终端">
					</div>
				</li>
				<li>
					
					<span>
						C
					</span>
					<strong>
						<h2>虚拟桌面</h2>
					</strong>
					<p>
						虚拟桌面主流协议全系列支持
					</p>
                    <div class="ywcome">
					<img src="images/index/jycb_img3.png" alt="云终端">
					</div>
				</li>
			</ul>
		</div>
       
        </div>
        
        
        
        
        
<div class="jjfamain">
<div class="jjfa clearfix">
			<div class="jjfa_in">
				<div class="jjfa_top">
					<div class="jjfa_txt">
						<i>
							打造各行各业
							<span>解决方案</span>
						</i>
					</div>
					<div class="jjfa_img">
						<img src="images/index/jjfa_img.jpg"  alt="云桌面的优势">
					</div>
					<em>
						独一无二硬解码技术行业领导者
					</em>
					<div class="jjfa_xian"></div>
				</div>
				<div class="jjfa_lol">
					<div class="bd">
						<ul>
                        <li>
		
		<div class="lol_txt">
			
			<i>
				<a href="/plandetail/40.html" target="_blank">智慧园区云终端解决方案</a>
			</i>
			
			<p>
				广东中科立信科技有限公司智慧园区云终端解决方案帮助大型园区，面向园区内部企业以服务的方式交付Windows桌面。园区企业真正做到拎包入驻，并可通过桌面云集成园区SaaS平台上的各类软件。										</p>
				
				
			</div>
			<img src="images/index/jjfa1.jpg" alt="云终端"/>
		</li>
							<li>
								
								<img src="images/index/jjfa2.jpg" alt="云终端"/>									<div class="lol_txt">
								
								<i>
									<a href="/plandetail/41.html" target="_blank">培训中心云终端解决方案</a>
								</i>
								
								<p>
									广东中科立信科技有限公司培训中心云终端解决方案帮助培训中心轻松部署云教室，并可以提供远程教学环境。										</p>
									
									
								</div>
						</li><li>
						
						<div class="lol_txt">
							
							<i>
								<a href="/plandetail/44.html" target="_blank">医疗卫生行业云终端解决方案</a>
							</i>
							
							<p>
								广东中科立信科技有限公司医疗卫生行业云终端解决方案帮助各级医院、疾控中心、卫生监督等单位部署最稳定的桌面云，并可以兼容运行各类卫生行业专业软硬件。										</p>
								
								
							</div>
							<img src="images/index/jjfa3.jpg" alt="云终端"/>	
						</li><li>
						
						<img  src="images/index/jjfa4.jpg"alt="云终端"/>									<div class="lol_txt">
						
						<i>
							<a href="/plandetail/43.html" target="_blank">电子商务云终端解决方案</a>
						</i>
						
						<p>
							广东中科立信科技有限公司电子商务云终端解决方案帮助自建或外包电子商务的企业部署性价比最高的桌面云，并可以兼容运行各类电子商务行业软件。										</p>
							
						</div>
				</li><li>
				
				<div class="lol_txt">
					
					<i>
						<a href="/plandetail/38.html" target="_blank">运营商公有云终端解决方案</a>
					</i>
					
					<p>
						广东中科立信科技有限公司运营商公有桌面云解决方案帮助区级、县级、市级、省级运营商单位，交付针对商业或个人用户的，完整的桌面云系统，是目前国内云计算行业中最大规模经过市级单位实际运营验证可靠的桌面云系统。										</p>

					</div>
					<img src="images/index/jjfa5.jpg" alt="云终端"/>	
				</li><li>
				
				<img src="images/index/jjfa6.jpg" alt="云终端"/>									<div class="lol_txt">
				
				<i>
					<a href="/plandetail/42.html" target="_blank">公安军工云终端解决方案</a>
				</i>
				
				<p>
					广东中科立信科技有限公司公安军工云终端解决方案帮助公安、部队武警和军工单位部署最安全的桌面云，并可以兼容运行各类加密软件。										</p>
					
					
				</div>
		</li>
        		</ul>
	</div>
	<div class="hd">
		<ul></ul>
	</div>
	<script type="text/javascript">
		jQuery(".jjfa_lol").slide({
			mainCell:".bd ul",
			titCell:".hd ul",
			effect:"leftLoop",
			easing:"easeInOutCirc",
			delayTime:500,
			vis:2,
			autoPage:true});
		</script>
	</div>

</div>
</div>
</div>
<!-- InstanceEndEditable --> 
   </div>
   
 </div>
 <div id="footer"> 
  <div  id="copyright" class="align">Copyright © 2017 gdzklx.com 粤ICP备17081505号</div>
  <div id="nanvs">
    <ul>
      <li><a href="culture.html">企业简介</a></li> 
      <li><a href="news.html">公司新闻</a></li>
      <li><a href="productq.html">产品介绍</a></li>
      <li><a href="case.html">项目案例</a></li>
      <li><a href="contact.html">联系我们</a></li>
    </ul>
  </div>

</body>

<script type="text/javascript">



  $(document).ready(function(){

   $(".prev,.next").hover(function(){
    $(this).stop(true,false).fadeTo("show",0.9);
  },function(){
    $(this).stop(true,false).fadeTo("show",0.4);
  });
   
   $(".gsjjimage-box").slide({
    titCell:".hd ul",
    mainCell:".bd ul",
    effect:"fold",
    interTime:3000,
    delayTime:1000,
    autoPlay:true,
    autoPage:true, 
    trigger:"click" ,
	mouseOverStop:true
  });


 });
  function pageScroll(){
    window.scrollBy(0,-4);
    scrolldelay = setTimeout('pageScroll()',1);
    var sTop=document.documentElement.scrollTop+document.body.scrollTop;
    if(sTop==0) clearTimeout(scrolldelay);
  }
  $(function () {              
            //绑定滚动条事件  
              //绑定滚动条事件  
              $(window).bind("scroll", function () {  
                var sTop = $(window).scrollTop();  
                var sTop = parseInt(sTop);  
                if (sTop >= 400) {  
                  if (!$("#fhtop").is(":visible")) {  
                    try {  
                      $("#fhtop").slideDown();  
                    } catch (e) {  
                      $("#fhtop").show();  
                    }                        
                  }  
                }  
                else {  
                  if ($("#fhtop").is(":visible")) {  
                    try {  
                      $("#fhtop").slideUp();  
                    } catch (e) {  
                      $("#fhtop").hide();  
                    }                         
                  }  
                }   
              });  
            })  
          </script>

          <!-- InstanceEnd --></html>
