<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/muban.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- InstanceBeginEditable name="doctitle" -->
  <title>广东中科立信科技有限公司</title>
  <!-- InstanceEndEditable --> 
  <!-- InstanceBeginEditable name="head" -->
  <!-- InstanceEndEditable --> 
  <link href="CSS/css.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>    
</head> 
<body  onload="ImageMove()" >
  <div id="header"> 
    <div id="logo"><a href="index.html"><img src="images/index/logo3.png" title="广东中科立信科技有限公司"/></a></div> 
    
    <div class="juz">

        <!-- InstanceBeginEditable name="nanv" --> 
        <div  id="nanv">
          <ul>
            <li><a href="index.html">首页</a></li>  
            <li><a href="culture.html">企业简介</a></li>
            <li><a href="news.html" class="on">公司新闻</a></li>
            <li><a href="productq.html">产品介绍</a></li> 
            <li><a href="case.html">项目案例</a></li>
            <li><a href="contact.html">联系我们</a></li>
          </ul> 
        </div>
        <!-- InstanceEndEditable -->
      </div>
    </div>
    
    <div id="fhtop" onclick="pageScroll()" style="display:none"><img src="images/float_4.png" width="55" height="55" /></div>
    <div id="main">
     <!-- InstanceBeginEditable name="main" -->
          <div class="div2">
          <img class="img1"  src="images/index/1.jpg" />
      </div>
     <div class="cnanv">
    <div class="qqq">当前位置：<a href="index.html">首页</a>-><a href="news.html">公司新闻</a></div>
    
    </div>
     <div class="nsmain1">
     
     
        <div class="ns_left1">
        <div class="OneNews">
        <div class="OneImg"><img src="images/news/hyzzbz.jpg"/></div>
        <div class="OneText">
            <div class="OneTitle"><a href="news-hyzzbz.html">惠阳正式启用居民身份证自助设备</a></div>
            <DIV class="OneMain">　　惠阳正式启用由我司负责的居民身份证自助设备，惠阳市民可自助办理身份证期满换领、丢失补领和损坏补领业务，不用再扎堆去户政部门办理了。据了解，已启用的两处自助设备分别位于惠阳区行政服务中心和惠阳区公安分局24小时自助办证区，均可24小时工作。“居民二代身份证自助申领机”（以下简称“自助机”）是新时代便民服务柜台机，能支持身份证业务的到期换证、损坏换证、丢失换证这3项业务，设备可24小时工作。申领人按提示操作即可办理身份证申领的各项业务，就像在ATM机上取钱一样便捷。需要注意的是，目前自助机仅限惠州市户口本人操作，取证方式仅限邮寄，只能办理补、换证。也就是说，初次办证仍需前往户口所在地公安分局办理。
            </DIV>
        </div>
    </div>
        
        <div class="OneNews">
        <div class="OneImg"><img src="images/news/hddzz.jpg"/></div>
        <div class="OneText">
            <div class="OneTitle"><a href="news-hddzz.html">惠东县多祝镇下埔村扶贫</a></div>
            <DIV class="OneMain">　　为落实市委、市政府的精准扶贫政策，我公司积极参与其中。在2018年1月23日和公安局领导下乡到惠州市惠东县多祝镇下铺村发放扶贫物品。走访58家贫困户，每户各发放一桶油，两包面、一袋米。给贫困户和贫困党员等带去公司所有人的春节慰问和良好祝愿，并到贫困户家中对扶贫开发工作进行调研。
            </DIV>
        </div>
    </div>
    
        <div class="OneNews">
        <div class="OneImg"><img src="images/news/blyqz.jpg"/></div>
        <div class="OneText">
            <div class="OneTitle"><a href="news-blyqz.html">博罗县杨桥镇揭幕仪式</a></div>
            <DIV class="OneMain">　　为全面贯彻落实市委、市政府实施2016年十件民生实事的要求和市政府工作报告提出的全力办好民生实事的工作部署，切实履行为全市人民群众办好民生实事的承诺，在惠州全市范围内建成多个24小时自助办证点，解决偏远地区和城市中心人口密集区域群众办证需求，方便群众能就近办理电子港澳通行证业务。根据《惠州市2016年十件民生实事工作实施方案》关于“完成出入境自助办证点建设”的要求，结合我县实际情况，特制定此工作方案。根据《惠州市2016年十件民生实事工作实施方案》要求，本期项目须于2017年年底竣工并交付使用，项目主要内容是在博罗县发达镇区建设“出入境24小时自助办证点”，进一步方便群众能就近办理电子港澳通行证业务，从而使博罗县公安局出入境服务在整体自助设备配套、自助办理点分布、服务质量提升等方面与市局达到同等水平。<br/>
            
　　现由我司负责的博罗县“出入境24小时自助办证点”项目，其中博罗县杨桥镇出入境24小时自助办证区揭牌仪式在2017年12月6日在杨侨镇派出所隆重举行。
            </DIV>
        </div>
    </div>
    <div class="OneNews">
        <div class="OneImg"><img src="images/news/mfwc1.jpg"/></div>
        <div class="OneText">
            <div class="OneTitle"><a href="news-mfwc.html">【爱心播报】惠州“免费午晚餐”项目 获热心企业捐赠</a></div>
            <DIV class="OneMain">　　2014年12月22日，广东中科立信科技有限公司人员来的惠州市慈善总会“慈善免费餐”项目发放点，为“慈善免费餐”进行捐赠。前来领饭的困难群众，了解到有爱心企业对“慈善免费餐”进行捐赠，纷纷鼓掌表示欢迎和开心。
            </DIV>
        </div>
    </div>
    
          <div class="nsul1">
          	<ul id="ulid1">
               <li><span></span></li>
               
          </ul>
          </div>
          <div id="barcon1" name="barcon"></div>
        </div>
      <div class="ns_right1">
      <div class="MoreNewsTitle">更多新闻</div>
      <div class="MoreNewLi">
        <ul>
          <li>
          	<div class="mntit"><a href="news-hyzzbz.html">惠阳正式启用居民身份证自助设备</a></div>
          </li>
          <li>
          	<div class="mntit"><a href="news-hddzz.html">惠东县多祝镇下埔村扶贫</a></div>
          </li>
          <li>
          	<div class="mntit"><a href="news-blyqz.html">博罗县杨桥镇揭幕仪式</a></div>
          </li>
          <li>
          	<div class="mntit"><a href="news-mfwc.html">【爱心播报】惠州“免费午晚餐”项目 获热心企业捐赠</a></div>
          </li>
          
        </ul>
      </div>
      </div>
    </div>

     <script>
     window.onload=goPage(1,10);
     </script>
     
     <!-- InstanceEndEditable --> 
   </div>
   
 </div>
 <div id="footer"> 
  <div  id="copyright" class="align">Copyright © 2017 gdzklx.com 粤ICP备17081505号</div>
  <div id="nanvs">
    <ul>
      <li><a href="culture.html">企业简介</a></li> 
      <li><a href="news.html">公司新闻</a></li>
      <li><a href="productq.html">产品介绍</a></li>
      <li><a href="case.html">项目案例</a></li>
      <li><a href="contact.html">联系我们</a></li>
    </ul>
  </div>

</body>

<script type="text/javascript">



  $(document).ready(function(){

   $(".prev,.next").hover(function(){
    $(this).stop(true,false).fadeTo("show",0.9);
  },function(){
    $(this).stop(true,false).fadeTo("show",0.4);
  });
   
   $(".gsjjimage-box").slide({
    titCell:".hd ul",
    mainCell:".bd ul",
    effect:"fold",
    interTime:3000,
    delayTime:1000,
    autoPlay:true,
    autoPage:true, 
    trigger:"click" ,
	mouseOverStop:true
  });


 });
  function pageScroll(){
    window.scrollBy(0,-4);
    scrolldelay = setTimeout('pageScroll()',1);
    var sTop=document.documentElement.scrollTop+document.body.scrollTop;
    if(sTop==0) clearTimeout(scrolldelay);
  }
  $(function () {              
            //绑定滚动条事件  
              //绑定滚动条事件  
              $(window).bind("scroll", function () {  
                var sTop = $(window).scrollTop();  
                var sTop = parseInt(sTop);  
                if (sTop >= 400) {  
                  if (!$("#fhtop").is(":visible")) {  
                    try {  
                      $("#fhtop").slideDown();  
                    } catch (e) {  
                      $("#fhtop").show();  
                    }                        
                  }  
                }  
                else {  
                  if ($("#fhtop").is(":visible")) {  
                    try {  
                      $("#fhtop").slideUp();  
                    } catch (e) {  
                      $("#fhtop").hide();  
                    }                         
                  }  
                }   
              });  
            })  
          </script>

          <!-- InstanceEnd --></html>
