!DOCTYPE html>
<html><!-- InstanceBegin template="/Templates/admin.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>广东中科立信科技有限公司</title>
<!-- InstanceEndEditable -->
<link rel="stylesheet" type="text/css" href="css/admin.css">
    <link rel="stylesheet" type="text/css" href="font/iconfont.css">
	<!-- 配置文件 -->
    <script type="text/javascript" src="ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="ueditor/ueditor.all.js"></script>
    
    <script type="text/javascript" src="js/jquery.min.js"></script> 
    <script type="text/javascript" src="js/nav.js"></script>
    <!-- InstanceBeginEditable name="head" -->
    <!-- InstanceEndEditable -->
</head>
<body>
	<div class="top">
        <a>广东中科立信科技有限公司</a>
    </div>
    <!-- InstanceBeginEditable name="Editmain" --> 
    <div class="nav">
        <div class="nav-top">
            <div  class="ntimg" style="border-bottom:1px solid rgba(255,255,255,.1)"><a class="ass" href="admin.html"><img src="images/mini.png" ></a>
            </div>
            <div class="userbox">admin</div>
        </div>
        <ul>
            <li class="nav-item">
                <a href="javascript:;"><i class="my-icon nav-icon icon_1"></i><span>网站首页</span><i class="my-icon nav-more"></i></a>
                <ul>
                    <li><a href="Logoedit.html"><span>LOGO</span></a></li>
                    <li><a href="Index_BannerEdit.html"><span>Banner</span></a></li>
                    <li><a href="Index_SuccessCaseEdit.html"><span>成功案例</span></a></li>
                    <li><a href="Index_SolutionEdit.html"><span>解决方案</span></a></li>
                    <li><a href="Index_ShowPlateEdit.html"><span>展示板块</span></a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;"><i class="my-icon nav-icon icon_2"></i><span>企业简介</span><i class="my-icon nav-more"></i></a>
                <ul>
                    <li><a href="Culture_BannerEdit.html"><span>Banner</span></a></li>
                    <li><a href="Culture_IntroductionEdit.html"><span>公司简介</span></a></li>
                    <li><a href="Culture_TeamEdit.html"><span>团队风采</span></a></li>
                    <li><a href="Culture_HonorEdit.html"><span>荣誉资质</span></a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;"><i class="my-icon nav-icon icon_3"></i><span>公司新闻</span><i class="my-icon nav-more"></i></a>
                <ul>
                	<li><a href="New_BannerEdit.html"><span>Banner</span></a></li>
                    <li><a href="New_ListEdit.html"><span>新闻列表</span></a></li>
                </ul>
            </li>
            <li class="nav-item nav-show">
                <a href="javascript:;"><i class="my-icon nav-icon icon_3"></i><span>产品介绍</span><i class="my-icon nav-more"></i></a>
                <ul>
                    <li><a href="Product_TypeEdit.html" style="color:#FFF;background:rgba(0,0,0,.1);"><span>产品</span></a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;"><i class="my-icon nav-icon icon_3"></i><span>项目案例</span><i class="my-icon nav-more"></i></a>
                <ul>
                    <li><a href="Project_SystemEdit.html"><span>系统集成</span></a></li>
                    <li><a href="Project_MultimediaEdit.html"><span>多媒体会议</span></a></li>
                    <li><a href="Project_AppSystemEdit.html"><span>应用系统</span></a></li>
                    <li><a href="Project_OperationsEdit.html"><span>IT运维</span></a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;"><i class="my-icon nav-icon icon_3"></i><span>联系我们</span><i class="my-icon nav-more"></i></a>
                <ul>
                    <li><a href="Contact_BannerEdit.html"><span>Banner</span></a></li>
                    <li><a href="ContactEdit.html"><span>公司信息</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="box"></div>
    
    <div class="main">  
    
    <a class="h1">控制面板</a>
      <div class="header">
        <div class="now color"><a href="../../back/index"  class="color">后台</a> -> 产品介绍 -> 环境监测系统</div>
      </div>
      
      <div class="list">
      <a class="style1">产品列表</a>
        <div class="listbox">
            
            <div class="buttonbox">
                <input type="button" value="添加" class="bottons c_green" onClick="window.open('Product_Detection_Detail.html','_self')">
                
            </div>
            <div class="tablemain">
                <table width="100%">
                  <tr>
                    <th width="1%" scope="col"></th>
                    <th width="24%" scope="col">产品名称</th>
                    <th width="20%" scope="col">创建时间</th>
                    <th width="20%" scope="col">更新时间</th>
                    <th width="9%" scope="col">状态</th>
                    <th width="26%" scope="col">操作</th>
                  </tr>
                  <tr>
                    <td><input name="select" type="checkbox" class="fang_cb"></td>
                    <td><a href="Product_ZA100_Edit.html" class="color1">致安100</a></td>
                    <td>2018-05-21 05:23:56</td>
                    <td>2018-05-21 05:23:56</td>
                    <td>
                    	<select onChange="alert_show()" name="state" class="c_blue" id="selecta">
                            <option value="1">显示</option>
                            <option value="0">不显示</option>
                        </select>
					</td>
                    <td>
                    	<input type="button" value="编辑" class="bottons c_qing">
                        <input type="button" value="删除" class="bottons c_red" onClick="alert_del()">
                    </td>
                  </tr>
                </table>
    
            </div>
        </div>
      </div>
          
          
    </div>
    <!-- InstanceEndEditable -->

</body>
<!-- InstanceBeginEditable name="EditRegion4" -->
<script>
function alert_show(){
		var returned = window.confirm("是否更改当前状态？"); 
		var key=$("#selecta").val();
		if(returned==true&&key=="1"){ 
			$("#selecta option[value='1']").prop("selected","selected");      
		}
		if(returned==true&&key=="0"){ 
			$("#selecta option[value='0']").prop("selected","selected");      
		} 
		if(returned==false&&key=="0"){ 
			$("#selecta option[value='1']").prop("selected","selected");      
		} 
		if(returned==false&&key=="1"){ 
			$("#selecta option[value='0']").prop("selected","selected");      
		} 
			
		}
	function alert_del() {
		confirm("是否删除当前内容？");
		}

</script>
<!-- InstanceEndEditable -->
        
<!-- InstanceEnd --></html>


