<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/muban.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- InstanceBeginEditable name="doctitle" -->
  <title>广东中科立信科技有限公司</title>
  <!-- InstanceEndEditable --> 
  <!-- InstanceBeginEditable name="head" -->
  <!-- InstanceEndEditable --> 
  <link href="CSS/css.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>    
</head> 
<body  onload="ImageMove()" >
  <div id="header"> 
    <div id="logo"><a href="index.html"><img src="images/index/logo3.png" title="广东中科立信科技有限公司"/></a></div> 
    
    <div class="juz">

        <!-- InstanceBeginEditable name="nanv" -->
        <div  id="nanv">
          <ul>
            <li><a href="index.html">首页</a></li>  
            <li><a href="culture.html">企业简介</a></li>
            <li><a href="news.html">公司新闻</a></li>
            <li><a href="productq.html" class="on">产品介绍</a></li> 
            <li><a href="case.html">项目案例</a></li>
            <li><a href="contact.html">联系我们</a></li>
          </ul> 
        </div>
        <!-- InstanceEndEditable -->
      </div>
    </div>
    
    <div id="fhtop" onclick="pageScroll()" style="display:none"><img src="images/float_4.png" width="55" height="55" /></div>
    <div id="main">
     <!-- InstanceBeginEditable name="main" -->
     
     
     <div class="fenlei">
      <ul>
        <li><a href="productq.html">云终端</a></li>
        <li><a href="productjiance.html" style="color:#F00">环境监测系统 </a></li>
      </ul>
    </div>
    <div class="nenav">

 <a href="" class="xiak" style="color:#F00">致安100</a>
      
    </div>
    <div class="beijin">
      <div class="prodimg"><img src="images/product/za100.png"/></div>
      <div class="mainwz">
        <h3>机房卫士新王者</h3>
        <ul>
      	  <li>页面WIN8风格，引领潮流；支持零地电压安全检查，接口规范化，更快更方便的施工实施，超炫立体机房展示双网口，双电源，更安全更可靠</li>
          <li>外观金橙色调，皇家守卫气势，值得信赖！1U机架式，真嵌入式主机，低功耗运行，更环保</li>
          <li>真软硬一体化，丰富借口高集成，嵌入WIN8新王者！</li>
          <li>内置可充电超大锂电池，完全断电情况下，仍可续航2-12小时</li>
          <li>设置过程勾选式傻瓜化，可自定义名称等信息，可自定义告警发送方式，细化到具体每一条，贴心细致人性化</li>
          <li>漂亮的APP访问客户端，随时随地掌握机房动态</li>
        </ul>
      </div>
    </div>
    <div class="tedian">
      <span class="big">致安100<span class="hong"> 特点</span></span>
      <span class="bigs">致安100 SERIES FEATURES</span>
       <div class="tdmain">
       <div class="tdimg"><img src="images/product/za100s.png"/></div>
       <div class="tdfon1">
         <ul>
          <li>极度集成巅峰之作，一台设备满足机房监控管理全能需要</li>
          <li>时尚、简约、轻松、方便，能在三秒内抵达用户所需的任何信息，随时随地极致体验。</li>
          <li>将传统的平面监控转化为具有高度现场感、仿真感的立体监控，呈现一个三维可交互的虚拟数据中心场景，实时直观的模拟和呈现数据中心！</li>
        </ul>
      </div>
    </div>
    </div>
    
 <div class="gngs">
    <div class="gnimg"> <img src="images/product/za100ss.png" /></div>
    <div class="gnmiaos">
    <span class="gntit">致安100　<span class="hong">功能概述</span></span>
    <p class="ngbai">“产品化”的设计理念，按照用户选择的品牌型号找到对应UPS，精密空调，配电通讯协议，（可兼容艾默生，施耐德，科华，科士达，易事特等众多品牌的智能设备），高效快捷，无需定制开发。产品化的路线，标准化的接口，对于安装调试、售后服务的操作简单容易。</p>
    <p class="ngbai">致安100保障网络系统可靠的运行、保证信息数据的正确和安全以及保证通讯网络枢纽畅通无阻地正确传递这些信息数据。</p>
    </div> 
    </div>
    
    
    
    
    <div class="jbtd">
    
    <div class="litizs">
    <div class="litiimg">
    <img src="images/product/litizs.jpg"  />
    </div>
    <div class="litims">
    <span class="jbtitd">电子地图</span><br/><br/>
    <span class="jbtitx">　　程序具有机房的地图展示功能，能够做到形象逼真的告警预警，能够通过自定义拖动定位的形式进行部署，部署时不能影响监控功能，能够交付使用。</span>
    </div>
    </div>

    </div>
     <div class="jbtd">
    <div class="qxjm">
    <div class="qxjmms">
    <span class="jbtitd">简单优美的监控界面</span><br/><br/>
    <span class="jbtitx">　　采用的是LINUX嵌入式系统平台，隔绝病毒且稳定可靠。为保证系统的可靠性及避免病毒的影响，监控采集主机设备要求采用最为安全可靠的嵌入式系统平台，如Power PC linux，ARM linux等。★B/S架构，免客户端安装，无需加载控件，由于此系统实现的是机房设备集中管理化要求，软件系统需支持多客户端的访问，方便各级管理人员的登陆，系统需支持B/S技术构架，免客户端安装,通过IE等网页浏览器，不能够加载控件。机房动力、环境、空调、安防设备分区管理，分区展示。具有时间一键同步功能，无须繁琐设置。</span>
    </div>
    <div class="qxjmimg">
    <img src="images/product/qxjm.jpg" /></div>
    </div>
    
    </div>
    
    <div class="canshu">
    <span class="big hong">产品参数</span>
    <span class="bigs">PRODUCT PARAMETERS</span>
    <div class="csimg"><img src="images/product/jiancea.png"/></div>
    </div>
	<script type="text/javascript">
      jQuery(".hangye .hynanv").slide({ mainCell:"ul",vis:4,prevCell:".sPrevw",nextCell:".sNextw",effect:"leftLoop"});
    </script>   
    
    <!-- InstanceEndEditable --> 
   </div>
   
 </div>
 <div id="footer"> 
  <div  id="copyright" class="align">Copyright © 2017 gdzklx.com 粤ICP备17081505号</div>
  <div id="nanvs">
    <ul>
      <li><a href="culture.html">企业简介</a></li> 
      <li><a href="news.html">公司新闻</a></li>
      <li><a href="productq.html">产品介绍</a></li>
      <li><a href="case.html">项目案例</a></li>
      <li><a href="contact.html">联系我们</a></li>
    </ul>
  </div>

</body>

<script type="text/javascript">



  $(document).ready(function(){

   $(".prev,.next").hover(function(){
    $(this).stop(true,false).fadeTo("show",0.9);
  },function(){
    $(this).stop(true,false).fadeTo("show",0.4);
  });
   
   $(".gsjjimage-box").slide({
    titCell:".hd ul",
    mainCell:".bd ul",
    effect:"fold",
    interTime:3000,
    delayTime:1000,
    autoPlay:true,
    autoPage:true, 
    trigger:"click" ,
	mouseOverStop:true
  });


 });
  function pageScroll(){
    window.scrollBy(0,-4);
    scrolldelay = setTimeout('pageScroll()',1);
    var sTop=document.documentElement.scrollTop+document.body.scrollTop;
    if(sTop==0) clearTimeout(scrolldelay);
  }
  $(function () {              
            //绑定滚动条事件  
              //绑定滚动条事件  
              $(window).bind("scroll", function () {  
                var sTop = $(window).scrollTop();  
                var sTop = parseInt(sTop);  
                if (sTop >= 400) {  
                  if (!$("#fhtop").is(":visible")) {  
                    try {  
                      $("#fhtop").slideDown();  
                    } catch (e) {  
                      $("#fhtop").show();  
                    }                        
                  }  
                }  
                else {  
                  if ($("#fhtop").is(":visible")) {  
                    try {  
                      $("#fhtop").slideUp();  
                    } catch (e) {  
                      $("#fhtop").hide();  
                    }                         
                  }  
                }   
              });  
            })  
          </script>

          <!-- InstanceEnd --></html>
