<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/muban.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- InstanceBeginEditable name="doctitle" -->
  <title>广东中科立信科技有限公司</title>
  <!-- InstanceEndEditable --> 
  <!-- InstanceBeginEditable name="head" -->
  <!-- InstanceEndEditable --> 
  <link href="CSS/css.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>    
</head> 
<body  onload="ImageMove()" >
  <div id="header"> 
    <div id="logo"><a href="index.html"><img src="images/index/logo3.png" title="广东中科立信科技有限公司"/></a></div> 
    
    <div class="juz">

        <!-- InstanceBeginEditable name="nanv" -->
        <div  id="nanv">
          <ul>
            <li><a href="index.html">首页</a></li>  
            <li><a href="culture.html">企业简介</a></li>
            <li><a href="news.html">公司新闻</a></li>
            <li><a href="productq.html" class="on">产品介绍</a></li> 
            <li><a href="case.html">项目案例</a></li>
            <li><a href="contact.html">联系我们</a></li>
          </ul> 
        </div>
        <!-- InstanceEndEditable -->
      </div>
    </div>
    
    <div id="fhtop" onclick="pageScroll()" style="display:none"><img src="images/float_4.png" width="55" height="55" /></div>
    <div id="main">
     <!-- InstanceBeginEditable name="main" -->
     
     
     
    <div class="fenlei">
      <ul>
        <li><a href="productq.html" style="color:#F00">云终端 </a></li>
        <li><a href="productjiance.html">环境监测系统</a></li>
      </ul>
    </div>
    <div class="nenav">
      <ul>
        <li><a href="productq.html" class="xiak" style="color:#F00">I7主机</a></li>
        <li><a href="product8200a.html">ZK8200A</a></li>
      </ul>
    </div>
    <div class="beijin">
      <div class="prodimg"><img src="images/product/I7.png"/></div>
      <div class="mainwz">
        <h3>3D云桌面一体机</h3>
        <ul>
          <li>适度的弹性计算，面向终端使用者：在单台主机上的计算资源自由分配，保证终端拥有的计算性能。</li>
          <li>分布式镜像存储，面向桌面管理者：每个主机拥有独立的数据池，桌面系统可随时保持同步，在需要的时候也可以独立定制。 集中存储可作为母盘备份，极大隆重低存储成本，且可以快速与切换终端。</li>
          <li>集中化管理，面向系统管理者：与传统桌面云一样的集中式管理，安装炙伦®集群管理软件，实现镜像同传、数据同步、镜像管理、启动关闭以及终端资源管理，包括镜像的还原与恢复，功能强大，大大隆低维护成本。</li>
          <li>高性能硬件穿透，在计算、存储与管理分离后，专门在主机硬件层进行显示与交互的定制优化，从而极大的提高显示与交互性能，彻底解了用户体验和软硬件兼容性问题，每个终端超与特理机同样的用户体验和功能。</li>
        </ul>
      </div>
    </div>
<div class="tedian">
      <span class="big">I7主机<span class="hong"> 特点</span></span>
      <span class="bigs">I7 SERIES FEATURES</span>
    <div class="tdmain">
       <div class="tdimg"><img src="images/product/I7chanp.png"/></div>
       <div class="tdfon">
         <ul>
          <li>全球首创的多路技术，将主机微型化在一台PC之上</li>
          <li>先进而高效的迷你云架构</li>
          
          <li>低成本、高性能、绿色节能，更具有部署灵活、安全稳定的特点，是新一代云办公基础构建及无缝过渡的第一选择</li>
        </ul>
      </div>
    </div>
</div>
  
   <div class="gngs">
    <div class="gnimg"> <img src="images/product/oad.png" /></div>
    <div class="gnmiaos">
    <span class="gntit">I7主机　<span class="hong">功能概述</span></span>
    <p class="ngbai">3D云桌面一体机计算机的核心技术是自主研发的处于国际领先技术水平的高性能虚拟机技术该技术是目唯一能在通用硬件上实现与物理机同样用户体验的虚拟机技术，拥有远超国内外其他虚拟机技术的响应速度和显示性能。结合虚拟机技术带来的安全性和维护性优势，该方案能够覆盖传统PC 到新兴桌面云的所有客户需求，同时大幅度的降低硬件成本和能耗。</p>
    <p class="ngbai">3D云桌面一体机计算机拥有弹性资源分配，实现业务系统按需求使用资源，并且根据实际的使用情况和突发事件进行调整，提高资源使用率和整体效率。无论是图性能能还是CPU性能，硬件传换效率均达98%以上。 性能远超其它同价位产品。</p>
    </div>
    </div>
    <div class="canshu">
    <span class="big hong">产品参数</span>
    <span class="bigs">PRODUCT PARAMETERS</span>
    <div class="csimg"><img src="images/product/i7cs.png"/></div>
    </div>
	<script type="text/javascript">
      jQuery(".hangye .hynanv").slide({ mainCell:"ul",vis:4,prevCell:".sPrev",nextCell:".sNext",effect:"leftLoop"});
    </script>
    
    
    
    
    
    
    
    <!-- InstanceEndEditable --> 
   </div>
   
 </div>
 <div id="footer"> 
  <div  id="copyright" class="align">Copyright © 2017 gdzklx.com 粤ICP备17081505号</div>
  <div id="nanvs">
    <ul>
      <li><a href="culture.html">企业简介</a></li> 
      <li><a href="news.html">公司新闻</a></li>
      <li><a href="productq.html">产品介绍</a></li>
      <li><a href="case.html">项目案例</a></li>
      <li><a href="contact.html">联系我们</a></li>
    </ul>
  </div>

</body>

<script type="text/javascript">



  $(document).ready(function(){

   $(".prev,.next").hover(function(){
    $(this).stop(true,false).fadeTo("show",0.9);
  },function(){
    $(this).stop(true,false).fadeTo("show",0.4);
  });
   
   $(".gsjjimage-box").slide({
    titCell:".hd ul",
    mainCell:".bd ul",
    effect:"fold",
    interTime:3000,
    delayTime:1000,
    autoPlay:true,
    autoPage:true, 
    trigger:"click" ,
	mouseOverStop:true
  });


 });
  function pageScroll(){
    window.scrollBy(0,-4);
    scrolldelay = setTimeout('pageScroll()',1);
    var sTop=document.documentElement.scrollTop+document.body.scrollTop;
    if(sTop==0) clearTimeout(scrolldelay);
  }
  $(function () {              
            //绑定滚动条事件  
              //绑定滚动条事件  
              $(window).bind("scroll", function () {  
                var sTop = $(window).scrollTop();  
                var sTop = parseInt(sTop);  
                if (sTop >= 400) {  
                  if (!$("#fhtop").is(":visible")) {  
                    try {  
                      $("#fhtop").slideDown();  
                    } catch (e) {  
                      $("#fhtop").show();  
                    }                        
                  }  
                }  
                else {  
                  if ($("#fhtop").is(":visible")) {  
                    try {  
                      $("#fhtop").slideUp();  
                    } catch (e) {  
                      $("#fhtop").hide();  
                    }                         
                  }  
                }   
              });  
            })  
          </script>

          <!-- InstanceEnd --></html>
